.react-select {
  min-width: 130px !important;
  max-width: 200px !important;
  width: 100% !important;
}

/* Control */
.react-select__control {
  background-color: var(--main-background-panel) !important;
  border: 1px solid var(--main-border-color) !important;
  border-radius: 4px;
  color: var(--main-font-color) !important;
  cursor: pointer !important;
  flex: auto !important;
  font-size: var(--main-small-font-size) !important;
  outline: none !important;
  min-width: 100px !important;
  transition: var(--main-border-color) 0.2s ease !important;
}

/* Hover */
.react-select__control:hover {
  border-color: var(--main-accent-color) !important;
}

/* Current value */
.react-select__single-value {
  color: var(--main-font-color) !important;
  max-width: 100%;
}

.react-select__input {
  color: var(--main-font-color) !important;
}

/* Placeholder */
.react-select__placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--main-placeholder-color) !important;
}

/* Indicator -> | */
.react-select__indicator-separator {
  background-color: var(--main-border-color) !important;
}

/* Arrow */
.react-select__indicator {
  color: var(--main-font-color) !important;
}

/* Menu */
.react-select__menu {
  background-color: var(--main-background-panel) !important;
}

/* Options */
.react-select__option {
  background-color: var(--main-background-panel) !important;
  color: var(--main-font-color) !important;
}

.react-select__option--is-focused {
  background-color: var(--main-third-accent-color) !important;
}

.react-select__option--is-selected {
  background-color: var(--main-accent-color) !important;
}
