.filter-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--main-small-font-size);
}

.filter-item label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.filter-input {
  padding: 5px;
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
  font-size: var(--main-small-font-size);
  width: 210px;
}

.filter-item input[type="checkbox"]:checked {
  accent-color: var(--main-accent-color);
}
