@import '../../css/variables.css';

.InfoBlock {
    padding: 5px;

    border: 2px solid;
    border-radius: 5px;
    border-color: var(--main-border-color);
}

.InfoBlockTitle {
    font-size: 26px;
    text-align: center;
    margin-bottom: .8%;
}

.InfoBlockText {
    margin-bottom: .5%;
    font-size: 18px;
}