@import "../../css/variables.css";

.InfoBlock {
  padding: 1%;

  /* border: 2px solid;
    border-radius: 8px;
    border-color: var(--main-border-color); */
}

.InfoBlockTitle {
  font-size: 26px;
  text-align: center;
  margin-bottom: 0.8%;
}

.InfoBlockText {
  margin-bottom: 0.5%;
  font-size: 18px;
}
