@import "../../css/variables.css";

.InfoBlock {
  padding: 1%;

  /* border: 2px solid;
    border-radius: 8px;
    border-color: var(--main-border-color); */
}

.InfoBlockTitle {
  text-align: center;
  margin-bottom: 0.8%;
}

.InfoBlockTitle[data-level="1"] {
  font-size: 26px;
}
.InfoBlockTitle[data-level="2"] {
  font-size: 22px;
}
.InfoBlockTitle[data-level="3"] {
  font-size: 18px;
}

.InfoBlockText {
  margin-bottom: 0.5%;
  font-size: 18px;
}
