@import "../../css/variables.css";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: all 0.2s ease;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 5px;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn--primary {
  background-color: var(--main-accent-color);
  color: var(--main-font-color);
}

.btn--secondary {
  background-color: var(--main-accent-secondary-color);
  color: var(--main-font-color);
}

.btn--danger {
  background-color: var(--main-accent-danger-color);
  color: var(--main-font-color);
}

.btn--small {
  padding: 4px 10px;
  font-size: var(--main-small-font-size);
  height: fit-content;
}

.btn--medium {
  padding: 8px 16px;
  font-size: var(--main-medium-font-size);
}

.btn--large {
  padding: 12px 24px;
  font-size: var(--main-large-font-size);
}

.btn:not(:disabled):hover {
  opacity: 0.7;
}
