/* Для заднего фона (основного контента): `#2d2d2d`
Для заднего фона шапки и подвала: `#252526`
Для заднего фона карточек/панелей: `#2d2d2d`
Для основного текста: `#ffffff`
Для второстепенного текста: `#cccccc`
Для плейсхолдера/доп. информации: `#888888`
Для границ: `#454545`
Для акцента (кнопки, ссылки): `#0078d4` */

/* Add css files */
@import url("reset.css");

:root {
    --main-background-color: #2d2d2d;
    --main-header-footer-background-color: #252526;
    --main-font-color: #ffffff;
    --main-second-font-color: #cccccc;
    --main-font-weight: 418;
    --main-font-size: 20px;
    --main-font-family: "Comfortaa";
}

html, body {
    height: 100%;
}

.global-box {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100vh;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
}

header, footer {
    background-color: var(--main-header-footer-background-color);
    flex-shrink: 0;
}

main {
    flex: 1;
    border-radius: 10px;
}

.container {
    margin: 0 auto;
    height: 100%;
}

/* Header */
.header-box {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.header__logo {
    font-size: 24px;
    font-weight: 600;
}

.header__logo a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.header__nav ul {
    display: flex;
    gap: 35px;
}

.header__nav ul li {
    display: inline;
}

.header__nav ul li:hover {
    color: var(--main-second-font-color);
    cursor: pointer;
    text-decoration: underline;
}

/* Footer */
.footer-box {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.footer__autors-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.footer__autors-team {
    font-size: 16px;
}

.footer__autors-list li {
    display: inline;
    font-size: 14px;
}

.footer__autors-list li:hover {
    color: var(--main-second-font-color);
    cursor: pointer;
    text-decoration: underline;
}

/* table styles */
.schedule-table-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border: 1px solid black;
}

.schedule-table__headers {
    display: flex;
    flex-direction: column;
}

.schedule-table__headers-title {
    align-self: center;
    margin: 15px 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
}

.column {
    border: 1px solid black;
}