@import "../css/variables.css";

.handbooks__navigation {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 20px;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin: 10px;
  flex-wrap: wrap;
}

.search-container input {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  outline: none;
}

.search-container input:focus {
  border-color: var(--main-accent-color);
}
