@import "../css/variables.css";

.handbooks__navigation {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 20px;
  flex-wrap: wrap;
}

.control-container {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin: 10px;
  flex-wrap: wrap;
}

.control-container input {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  outline: none;
  font-size: var(--main-small-font-size);
  margin-left: auto;
}

.control-container input:focus {
  border-color: var(--main-accent-color);
}

.teacher-add-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  font-size: var(--main-small-font-size);
}

.teacher-add-container input {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  outline: none;
}

.teacher-add-container select {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  outline: none;
  cursor: pointer;
  min-width: 150px;
  transition: var(--main-border-color) 0.2s ease;
}

.count-filtered-data {
  font-size: var(--main-medium-font-size);
}

.rendered-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.rendered-table table {
  margin: 0 auto;
}
