@import './variables.css';

/* Styles for root container in react */
#root {
  height: 100%;
}

header, footer {
    background-color: var(--main-header-footer-background-color);
}

.global-box {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
}

.container {
    margin: 0 auto;
    height: 100%;
}

/* Header */
.header-box {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.header__logo {
    font-size: 24px;
    font-weight: 600;
}

.header__logo a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.header__nav ul {
    display: flex;
    gap: 35px;
}

.header__nav ul li {
    display: inline;
}

.header__nav ul li:hover {
    color: var(--main-second-font-color);
    cursor: pointer;
    text-decoration: underline;
}

.header__account-container {
    display: flex;
    gap: 10px;
}

main {
    flex: 1;
    margin: 0 10%;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--main-border-color);
}

