@import "./variables.css";

/* Styles for root container in react */
#root {
  height: 100%;
}

footer {
  background-color: var(--main-header-footer-background-color);
}

.global-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* gap: 2%; */
  min-height: 100%;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.container {
  height: 100%;
}

main {
  flex: 1;
  margin: 15px 15px;
  border: 3px solid;
  border-radius: 10px;
  border-color: var(--main-border-color);
}
