/* Для заднего фона (основного контента): `#2d2d2d`
Для заднего фона шапки и подвала: `#252526`
Для заднего фона карточек/панелей: `#2d2d2d`
Для основного текста: `#ffffff`
Для второстепенного текста: `#cccccc`
Для плейсхолдера/доп. информации: `#888888`
Для границ: `#454545`
Для акцента (кнопки, ссылки): `#2b5278` */

:root {
  --main-background-color: #2d2d2d;
  --main-background-panel: #3a3a3a;
  --main-header-footer-background-color: #252526;
  --main-font-color: #ffffff;
  --main-second-font-color: #cccccc;
  --main-border-color: #454545;
  --main-accent-color: #2b5278;
  --main-accent-danger-color: #a33226;
  --main-accent-secondary-color: #4d82b8;
  --main-font-weight: 418;
  --main-font-size: 20px;
  --main-base-head-font-size: 14px;
  --main-base-font-size: 12px;
  --main-font-family: "Comfortaa";
}
