.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20%;
  min-width: 225px;
  background-color: var(--main-third-accent-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(0);
  color: var(--main-font-color);
  overflow: hidden;
}

.sidebar.closed {
  transform: translateX(100%);
}

.resizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: transparent;
  cursor: col-resize;
  z-index: 1001;
}

.resizer:hover {
  background: var(--main-accent-color);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--main-border-color);
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.toggle-btn {
  position: fixed;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  color: var(--main-font-color);
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tab-list-vertical {
  position: fixed;
  top: 5px;
  height: 100vh;
  width: 40px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding-top: 60px;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: right 0.3s ease;
}

.tab-list-vertical.sidebar-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.tab-button {
  padding: 10px 5px;
  border: none;
  background: var(--main-third-accent-color);
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: var(--main-medium-font-size);
  border-left: 3px solid transparent;
  transition: all 0.2s;

  /* Направление текста сверху вниз */
  writing-mode: vertical-lr;
  /* Переворачиваем текст, чтобы он шёл снизу вверх */
  transform: rotate(180deg);
  /* Центрируем текст внутри кнопки */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Только у первой кнопки — левый верхний угол */
.tab-button:first-child {
  border-bottom-right-radius: 8px;
}

/* Только у последней кнопки — левый нижний угол */
.tab-button:last-child {
  border-top-right-radius: 8px;
}

.tab-button:hover {
  background: var(--main-border-color);
}

.tab-button.active {
  background: var(--main-accent-secondary-color);
}

.tab-content {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}
