@import "../../css/variables.css";

.rendered-table {
  display: flex;
  justify-content: center;
}

.data-table {
  width: max-content;
  max-width: 95%;
  /* border-collapse: collapse; */
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: 13px;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  /* overflow: hidden; */
}

.data-table th,
.data-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--main-border-color);
}

.data-table th {
  background-color: var(--main-header-footer-background-color);
  color: var(--main-font-color);
  font-weight: 600;
  text-align: center;
  text-transform: initial;
}

.data-table tbody tr {
  transition: background-color 0.2s ease;
}

.data-table tbody tr:hover {
  background-color: var(--main-background-color);
}
