/* ============================================
   STICKY FIRST COLUMN (ФИО преподавателя)
   ============================================ 
*/

/* Ячейка с именем преподавателя */
.schedule-teacher-table tbody th.teacher-name-cell {
  position: sticky;
  left: 0;
  z-index: 5;
  background-color: var(--main-background-panel);
  border-right: 2px solid var(--main-border-color);
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
  min-width: 200px; 
}

/* Верхний левый угол (пересечение шапки и первой колонки) */
.schedule-teacher-table thead th:first-child {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--main-header-footer-background-color);
  border-right: 2px solid var(--main-border-color);
}

/* Тень справа от закреплённой колонки при скролле */
.schedule-teacher-table th.teacher-name-cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  width: 2px;
  box-shadow: 2px 0 8px rgb(0, 0, 0);
}

/* ============================================
   STICKY HEADER (шапка таблицы)
   ============================================ */

/* Первая строка шапки */
.schedule-teacher-table thead tr:first-child th {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--main-header-footer-background-color);
}

.schedule-teacher-table__container {
  max-height: 82vh; 
  overflow-y: auto; 
  overflow-x: auto;
  position: relative; 
}

.schedule-teacher-table thead th {
  position: sticky;
  top: 0; 
  z-index: 20;
  border: white; /* Не представляю как, но это помогает убрать разделение*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.schedule-teacher-table thead tr:nth-of-type(2) th {
  top: 35px;
  background-color: var(--main-second-header-footer-background-color);
  z-index: 25;
}

.schedule-teacher-table thead th[rowSpan="2"] {
  top: 0;
  z-index: 25;
  vertical-align: middle;
}
