@import "../../css/variables.css";

.data {
  border: 1px solid var(--main-border-color);
  border-radius: 9px;
  padding: 16px;
  background: var(--main-background-panel);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  flex: 1 1 auto;
  max-width: 450px;
  min-width: 300px;
}

.item-row {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 8px;
}

.item-row input {
  flex: 1;
  min-width: 0;
  padding: 8px;
  font-size: var(--main-small-font-size);
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background: var(--main-background-panel);
  color: var(--main-text-primary);
}

.data h3 {
  font-size: var(--main-large-font-size);
  margin-bottom: 10px;
}

.item-row select {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  outline: none;
  cursor: pointer;
  min-width: 100px;
  transition: var(--main-border-color) 0.2s ease;
  flex: auto;
  font-size: var(--main-small-font-size);
}

.item-row select:focus {
  border-color: var(--main-accent-color);
}

.item-row select:hover {
  border-color: var(--main-accent-color);
}
