@import "../../css/variables.css";

.data {
  border: 1px solid var(--main-border-color);
  border-radius: 9px;
  padding: 16px;
  background: var(--main-background-panel);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  flex: 1 1 auto;
  max-width: 600px;
  min-width: 150px;
}

.item-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

input {
  flex: 1;
  min-width: 0;
  padding: 8px;
  font-size: 18px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background: var(--main-background-panel);
  color: var(--main-text-primary);
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

select {
  padding: 8px 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background-color: var(--main-background-panel);
  color: var(--main-font-color);
  outline: none;
  cursor: pointer;
  min-width: 150px;
  transition: var(--main-border-color) 0.2s ease;
  flex: auto;
}

select:focus {
  border-color: var(--main-accent-color);
}

select:hover {
  border-color: var(--main-accent-color);
}
